@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
    --main-color: black;
    --accent-color: aquamarine;
    scroll-behavior: smooth;
}
body{
    max-width: 980px;
    margin: auto;
}

header nav .logo{
    font-family: "Libre Baskerville", serif;
    font-size: 3.5rem;
    text-align: center;
    margin: 5px;
    text-transform: uppercase;
}
#burger-checkbox{
    display: none;
}
header nav .menu-items{
    display: none;
}
header nav input:checked ~ .menu-items{
    display: block;
}

header nav .menu-items a{
    display: block;
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 3px;
}

header .banner{
    background-image: url(../img/g.png);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .banner h1 {
    text-transform: uppercase;
    font-style: italic;
    font-family: "Libre Baskerville", serif;
    font-size: 3.5rem;
    color: var(--accent-color);
}
h2 {
    color: var(--accent-color);
}
img {
    max-width: 300px;
}
#active{
    font-weight: bold;
}

.menu-items {
    border: 1px solid black;
}
.product-card img{
    display: block;
    width: 100%;
}
.product-buttons{
    display: flex;
    justify-content: space-around; 
}
.menu-items > a{
    text-decoration: none;
}
.menu-items > a:hover{
    border: 1px solid var(--accent-color);
}

@media (min-width: 769px){
    header nav{
        display: flex;
    }
    header nav .menu-items{
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-around;
    }
    .burger-icon{
        display: none;
    }
}
@media (min-width: 540px){
    .product-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}
@media (min-width: 660px){
    .product-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 990px){
    .product-list{
        grid-template-columns: repeat(4 , 1fr);
    }
}
